/* -------------------------------------------------
SMACSS: VARIABLES
------------------------------------------------- */

/* Colors */
$color-white: #FFF;
$color-black: #000;
$color-red: #E85151;
$color-gray: gray;

/* Font */
$font-OpenSans: 'Open Sans', 'Arial', sans-serif;
